
<!-- 資料區塊:bg_all -->
<div id="bg_allarea">


<style>
pre
{
  border: 5px dotted #eee;
  border-radius: 4px;
  padding:20px 20px;
  margin-bottom:80px;
}
</style>


<article>
  <header>
  <h1>PHP & JavaScript 常用註解 範例 </h1>
  <h2>檔案表頭 </h2>
  </header>
  
  <pre>  
/*******************************************************************************
 | 檔名 ( 簡述 )
 | -----------------------------------------------------------------------------
 | @package		    最近資料夾
 | @Maintain:維護人員信箱 starts from 檔案新增日期
 | 說明: 
 | 
*******************************************************************************/
  </pre>
</article>




<article>
  <header>
  <h2>Function 說明 </h2>
  </header>
  
  <pre>  
/**
 | -----------------------------------------------------------------------------
 | 說明  
 | -----------------------------------------------------------------------------
 | @param 參數名 型態 [範例]
 | @return 型態 [範例]
 | -----------------------------------------------------------------------------
**/ 
</pre>
</article>


<article>
  <header>
  <h2>Function 說明 - js </h2>
  </header>
  
  <pre>  
/* -----------------------------------------------------------------------------
 | 說明
 | @param 參數名 型態 [範例]
 | @return 型態 [範例]
 ---------------------------------------------------------------------------- */
  </pre>
</article>



<article>
  <header>
  <h2>Function 中參數 說明 - js </h2>
  </header>
  
  <pre>
  /*  說明內容 -------------------------------------------------------------- */
  </pre>
</article>


<article>
  <header>
  <h2>Function 中的Function 說明 - js </h2>
  </header>
  
  <pre>
  /* 說明 ----------------------------------------------------------------------
   | @param 參數名1 型態 [範例]
   | @param 參數名2 型態 [範例]
  */
  </pre>
</article>


<article>
  <header>
  <h2>HTML tag 裡的 JavaScript - js </h2>
  </header>
  
  <pre>
  &ltscript&gt
  // 在 HTML tag 裡的sciprt 區塊, 統一用 二條斜線型註解!
  &lt/script&gt
  </pre>
</article>


<article>
  <header>
  <h2>我對註解的看法... </h2>
  </header>
  
  <pre>
  1) 此為個人註解習慣. 若公司有即有格式。以公司規定格式為主.
  2) PHP、JavaScript、CSS 都可使用。
  3) 寫程式時，開著這個頁面放著方便很多！
  Q. 註解這麼多，會不會浪費資源?
  A. 維護和效能之間必需取得平衡點。
     以前我會斤斤計較。
     現在硬體效能大大提升、以長遠經營考量，註解多能提供更好的維護。
  </pre>
</article>










</div>
