
<!-- 資料區塊:bg_all -->
<div id="bg_allarea">

<style>
p { margin-bottom: 30px; }
</style>
<!-- p>{_POSTION}</p -->
<article>
  <header>
  <h1>關於我</h1>
  <p>About Me....</p>
  </header>
  <p>
  <h3>※ 慣用工具 </h3>
  <hr />
  <ol> 
  <li>撰寫工具 @ PSPad：<a href="http://www.pspad.com/" target="_blank">http://www.pspad.com/</a></li>
  <li> 檔案管理
    <ul>
    <li>FreeCommander：<a href="http://freecommander.com/en/summary/" target="_blank">http://freecommander.com/en/summary/</a></li>
    <li>TortoiseSVN：<a href="http://tortoisesvn.net/downloads.html" target="_blank">http://tortoisesvn.net/downloads.html</a></li>
    </ul>    
  </li>
  
  <li>圖片拍照 @ Picpick：<a href="http://www.picpick.org/" target="_blank">http://www.picpick.org/</a></li>
  <li>圖片 @ Fireworks <a href="https://creative.adobe.com/products/fireworks" target="_blank">fireworks - Adobe</a></li>
  <li>音樂 @ spotify <a href="https://play.spotify.com/" target="_blank">https://play.spotify.com/</a></li>
  
  </ol>
  </p>
  
  <p>
  <h3>※ 網站 </h3>
  <hr />
  <ol> 
  <li><a href="http://www.google.com/" target="_blank">http://www.google.com/</a></li>
  <li><a href="http://php.net/" target="_blank">http://php.net/</a></li>
  <li><a href="http://www.mysql.com/" target="_blank">http://www.mysql.com/</a></li>
  <li><a href="http://www.w3schools.com/" target="_blank">http://www.w3schools.com/</a></li>
  <li><a href="http://jquery.com/" target="_blank">http://jquery.com/</a></li>
  
  </ol>
  </p>
  
 
</article>






</div>
